Repository ifthen-gg/ifthen.gg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

🔥 Remove starter code
  src/App.css
  src/App.tsx
  src/logo.svg
Due: eslint --cache --fix, stylelint --fix, prettier --write

💄 Add colors and fonts
  src/assets/fonts/Lato-Regular.ttf
  src/assets/fonts/RobotoMono-Regular.ttf
  src/index.css
Due: stylelint --fix, prettier --write

💄 Load global css in Storybook
  .storybook/preview.js
Due: eslint --cache --fix, prettier --write

➕ Add classnames https://www.npmjs.com/package/classnames
  package-lock.json
  package.json
Due: prettier --write

🏷️ Declare types for CSS modules https://stackoverflow.com/questions/41336858/how-to-import-css-modules-with-typescript-react-and-webpack
  typings.d.ts
Due: eslint --cache --fix, prettier --write

💄 Set default font-size
  src/index.css
Due: stylelint --fix, prettier --write

✨ Add MyApplet component Fixes #10
  src/components/MyApplet/MyApplet.module.css
  src/components/MyApplet/MyApplet.stories.tsx
  src/components/MyApplet/MyApplet.test.tsx
  src/components/MyApplet/MyApplet.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

🏷️ Fix typings for controls args
  tsconfig.json
Due: prettier --write

🚨 Stop testing stories due to typing issues
  src/components/MyApplet/MyApplet.test.tsx
Due: eslint --cache --fix, prettier --write

💄 Change cursor of switch
  src/components/MyApplet/MyApplet.module.css
Due: stylelint --fix, prettier --write

✅ Test stories
  src/components/MyApplet/MyApplet.stories.tsx
  src/components/MyApplet/MyApplet.test.tsx
Due: eslint --cache --fix, prettier --write

🔧 Include typings.d.ts
  tsconfig.json
Due: prettier --write

✨ Create Discover Applet #fixes 5
  src/components/DiscoverApplet/DiscoverApplet.module.css
  src/components/DiscoverApplet/DiscoverApplet.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

✨ Create Stories for Discover Applets
  src/components/DiscoverApplet/DiscoverApplet.stories.tsx
Due: eslint --cache --fix, prettier --write

✅ Write Discover Applets Tests
  src/components/DiscoverApplet/DiscoverApplet.test.tsx
Due: eslint --cache --fix, prettier --write

✨ Add Sidebar component Fixes #7
  src/components/Sidebar/Sidebar.module.css
  src/components/Sidebar/Sidebar.stories.tsx
  src/components/Sidebar/Sidebar.test.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/icons/AddIcon.tsx
  src/components/icons/ArrowIcon.tsx
  src/components/icons/HomeIcon.tsx
  src/components/icons/SettingsIcon.tsx
  src/index.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

✅ Add sidebar tests
  src/components/Sidebar/Sidebar.test.tsx
Due: eslint --cache --fix, prettier --write

💄 Fix border overlap
  src/components/Sidebar/Sidebar.module.css
Due: stylelint --fix, prettier --write

✨ Create SVGs
  src/components/icons/CloseIcon.tsx
  src/components/icons/MinimizeIcon.tsx
  src/components/icons/RainbowKraken.tsx
Due: eslint --cache --fix, prettier --write

✨ Create first draft of AppBar
  src/components/AppBar/AppBar.module.css
  src/components/AppBar/AppBar.stories.tsx
  src/components/AppBar/AppBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

💄 Add tooltip to AppBar and fix placment of toolbar
  src/components/AppBar/AppBar.module.css
  src/components/AppBar/AppBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

🎨 Reduce toolbar styles
  src/components/AppBar/AppBar.module.css
  src/components/AppBar/AppBar.tsx
  src/index.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

💄 Set text overflow for long hotkeys
  src/components/AppBar/AppBar.module.css
Due: stylelint --fix, prettier --write

💄 Avoid user selection
  src/index.css
Due: stylelint --fix, prettier --write

🔥 Remove unused fill-rule
  src/components/icons/CloseIcon.tsx
Due: eslint --cache --fix, prettier --write

⚡️ Refactor minimize icon path
  src/components/icons/MinimizeIcon.tsx
Due: eslint --cache --fix, prettier --write

✏️ Rename base class
  src/components/AppBar/AppBar.module.css
  src/components/AppBar/AppBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx,js,jsx}
  stylelint --fix: any of: *.css
  prettier --write: any of: *.{js,jsx,ts,tsx,json,html,css,md}
