Repository ifthen-gg/ifthen.gg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": "eslint --cache --fix",
  "*.css": "stylelint --fix",
  "*.{js,jsx,ts,tsx,json,html,css,md}": "prettier --write"
}

🐛 Fix no applets found
  src/components/UserMenu/UserMenu.stories.tsx
  src/components/UserMenu/UserMenu.tsx
Due: eslint --cache --fix, prettier --write

🐛 Fix Type of story
  src/components/UserMenu/UserMenu.stories.tsx
  src/components/UserMenu/UserMenu.tsx
Due: eslint --cache --fix, prettier --write

✏️ Fix type of NoApplets story
  src/components/UserMenu/UserMenu.stories.tsx
Due: eslint --cache --fix, prettier --write

⬆️ Upgrade storybook to sb@next
  package-lock.json
  package.json
Due: prettier --write

🔧 Setup sb to use vite as build tool
  .storybook/main.js
Due: eslint --cache --fix, prettier --write

🎨 Format code to solve test failure
  src/components/DiscoverApplet/DiscoverApplet.stories.tsx
  src/components/MyApplet/MyApplet.stories.tsx
Due: eslint --cache --fix, prettier --write

➖ Remove storybook-css-modules-preset
  package-lock.json
  package.json
Due: prettier --write

⬆️ Upgrade to latest storybook rc
  package-lock.json
  package.json
Due: prettier --write

⬆ Use Storybook for Vite (#27)
  .storybook/main.js
  package-lock.json
  package.json
  src/components/DiscoverApplet/DiscoverApplet.stories.tsx
  src/components/MyApplet/MyApplet.stories.tsx
Due: eslint --cache --fix, prettier --write

🏷️ Set explicite Applet type
  src/components/UserMenu/UserMenu.stories.tsx
Due: eslint --cache --fix, prettier --write

🎨 Reorder properties
  src/components/UserMenu/UserMenu.tsx
Due: eslint --cache --fix, prettier --write

💄 Show scrollbar in applets list
  src/components/UserMenu/UserMenu.module.css
  src/components/UserMenu/UserMenu.stories.tsx
  src/components/UserMenu/UserMenu.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

✨Create UserMenu component (#26)
  src/components/UserMenu/UserMenu.module.css
  src/components/UserMenu/UserMenu.stories.tsx
  src/components/UserMenu/UserMenu.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

✨ Open Desktop window on startup
  src/background.tsx
  src/utils/ow.ts
Due: eslint --cache --fix, prettier --write

✨ Add user menu to desktop window
  src/App.module.css
  src/App.tsx
  src/components/AppBar/AppBar.module.css
  src/components/Sidebar/Sidebar.module.css
  src/components/UserMenu/UserMenu.module.css
  src/index.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

✨ Add user menu to desktop window (#28)
  src/App.module.css
  src/App.tsx
  src/background.tsx
  src/components/AppBar/AppBar.module.css
  src/components/Sidebar/Sidebar.module.css
  src/components/UserMenu/UserMenu.module.css
  src/index.css
  src/utils/ow.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write
