Repository ifthen-gg/ifthen.gg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

✅ Add sidebar tests
  src/components/Sidebar/Sidebar.test.tsx
Due: eslint --cache --fix, prettier --write

✨ Add required Overwolf files
  background.html
  overwolf/icons/desktopIcon.ico
  overwolf/icons/iconMouseNormal.png
  overwolf/icons/iconMouseOver.png
  overwolf/icons/taskbarIcon.png
  overwolf/manifest.json
  src/background.tsx
  vite.config.ts
Due: eslint --cache --fix, prettier --write

🏷️ Add Overwolf types
  package-lock.json
  package.json
  src/background.tsx
  tsconfig.json
Due: eslint --cache --fix, prettier --write

🙈 Ignore dist folder
  .eslintignore
  .prettierignore
  .stylelintignore
Due: none

🏷️ Set inGame to optional
  src/components/AppBar/AppBar.tsx
Due: eslint --cache --fix, prettier --write

💄 #root element 100vh
  src/index.css
Due: stylelint --fix, prettier --write

✨ Add AppBar and Sidebar to App
  src/App.module.css
  src/App.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

🩹 Fix AppBar to top of screen
  src/components/AppBar/AppBar.module.css
Due: stylelint --fix, prettier --write

💄 Fix styling of sidebar
  src/components/Sidebar/Sidebar.module.css
Due: stylelint --fix, prettier --write

✨ Add AppBar window functionality
  src/components/AppBar/AppBar.tsx
Due: eslint --cache --fix, prettier --write

✨ Initialize Overwolf app (#20)
  .eslintignore
  .prettierignore
  .stylelintignore
  background.html
  overwolf/icons/desktopIcon.ico
  overwolf/icons/iconMouseNormal.png
  overwolf/icons/iconMouseOver.png
  overwolf/icons/taskbarIcon.png
  overwolf/manifest.json
  package-lock.json
  package.json
  src/App.module.css
  src/App.tsx
  src/background.tsx
  src/components/AppBar/AppBar.module.css
  src/components/AppBar/AppBar.tsx
  src/components/Sidebar/Sidebar.module.css
  src/index.css
  tsconfig.json
  vite.config.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

🔨 Support local-server debugging Fixes #21
  overwolf/manifest.json
Due: prettier --write

:sparkles: Add sample trigger and action
  overwolf/manifest.json
  src/actions/openWebsite.ts
  src/actions/types.ts
  src/background.tsx
  src/triggers/leagueQueue.ts
  src/triggers/types.ts
Due: eslint --cache --fix, prettier --write

✨ Add triggers and actions lists
  src/actions/index.ts
  src/triggers/index.ts
Due: eslint --cache --fix, prettier --write

🏷️ Add generic callback type
  src/background.tsx
  src/triggers/leagueQueue.ts
  src/triggers/types.ts
Due: eslint --cache --fix, prettier --write

💄 Reset margin/padding everywhere
  src/index.css
Due: stylelint --fix, prettier --write

🍱 Add new Icons
  src/components/icons/AppSelectIcon.tsx
  src/components/icons/SearchIcon.tsx
Due: eslint --cache --fix, prettier --write

✨ Create basic SelectTrigger component
  src/components/SelectTrigger/SelectTrigger.module.css
  src/components/SelectTrigger/SelectTrigger.stories.tsx
  src/components/SelectTrigger/SelectTrigger.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

💄 Inherit button color
  src/index.css
Due: stylelint --fix, prettier --write

🏷️ Add .png type
  typings.d.ts
Due: eslint --cache --fix, prettier --write

✨ Add apps
  src/apps/index.ts
  src/apps/leagueOfLegends.ts
  src/apps/types.ts
  src/apps/valorant.ts
  src/assets/apps/leagueOfLegends.png
  src/assets/apps/valorant.png
  src/components/SelectTrigger/SelectTrigger.module.css
  src/components/SelectTrigger/SelectTrigger.tsx
  src/triggers/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

📝 Add issue templates
  .github/ISSUE_TEMPLATE/event-template.md
  .github/ISSUE_TEMPLATE/trigger-template.md
Due: prettier --write

⬆️ Upgrade @overwolf/types
  package-lock.json
  package.json
Due: prettier --write

⬆️ Upgrade TypeScript
  package-lock.json
  package.json
Due: prettier --write

♻️ Refactor triggers to use event handle listeners
  src/background.tsx
  src/triggers/index.ts
  src/triggers/leagueQueue.ts
  src/triggers/triggerTarget.ts
  src/triggers/types.ts
Due: eslint --cache --fix, prettier --write

🏷️ Add InfoUpdateEvent
  src/triggers/leagueQueue.ts
Due: eslint --cache --fix, prettier --write

♻️ Refactor actions like triggers
  src/actions/index.ts
  src/actions/openWebsite.ts
  src/actions/types.ts
  src/triggers/index.ts
Due: eslint --cache --fix, prettier --write

♻️ Refactor apps like triggers
  src/apps/index.ts
  src/apps/leagueOfLegends.ts
  src/apps/types.ts
  src/apps/valorant.ts
  src/background.tsx
Due: eslint --cache --fix, prettier --write

✅ Add trigger tests
  .eslintrc.js
  jest.config.js
  setup/overwolf.js
  src/triggers/leagueQueue.test.ts
  src/triggers/leagueQueue.ts
  src/triggers/triggerTarget.test.ts
  src/triggers/triggerTarget.ts
Due: eslint --cache --fix, prettier --write

✅ Add cleanup test
  src/triggers/leagueQueue.test.ts
Due: eslint --cache --fix, prettier --write

✅ Add openWebsite tests
  src/actions/openWebsite.test.ts
Due: eslint --cache --fix, prettier --write

✏️ Fix test description
  src/triggers/leagueQueue.test.ts
Due: eslint --cache --fix, prettier --write

♻️ Refactor loops
  src/triggers/triggerTarget.ts
Due: eslint --cache --fix, prettier --write

✏️ Rename dispatches to dispatchers
  src/triggers/leagueQueue.test.ts
  src/triggers/triggerTarget.ts
  src/triggers/types.ts
Due: eslint --cache --fix, prettier --write

🐛 Fix cleanup after last trigger is removed
  src/triggers/leagueQueue.test.ts
  src/triggers/triggerTarget.test.ts
  src/triggers/triggerTarget.ts
  src/triggers/types.ts
Due: eslint --cache --fix, prettier --write

✨ Add first trigger, action and apps (#24)
  .eslintrc.js
  jest.config.js
  overwolf/manifest.json
  package-lock.json
  package.json
  setup/overwolf.js
  src/actions/index.ts
  src/actions/openWebsite.test.ts
  src/actions/openWebsite.ts
  src/actions/types.ts
  src/apps/index.ts
  src/apps/leagueOfLegends.ts
  src/apps/types.ts
  src/apps/valorant.ts
  src/assets/apps/leagueOfLegends.png
  src/assets/apps/valorant.png
  src/background.tsx
  src/components/SelectTrigger/SelectTrigger.module.css
  src/components/SelectTrigger/SelectTrigger.stories.tsx
  src/components/SelectTrigger/SelectTrigger.tsx
  src/components/icons/AppSelectIcon.tsx
  src/components/icons/SearchIcon.tsx
  src/index.css
  src/triggers/index.ts
  src/triggers/leagueQueue.test.ts
  src/triggers/leagueQueue.ts
  src/triggers/triggerTarget.test.ts
  src/triggers/triggerTarget.ts
  src/triggers/types.ts
  typings.d.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

✨ Add UserMenu Component files
  src/components/UserMenu/UserMenu.module.css
  src/components/UserMenu/UserMenu.stories.tsx
  src/components/UserMenu/UserMenu.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

✨ Create first draft of UserMenu component
  src/components/UserMenu/UserMenu.module.css
  src/components/UserMenu/UserMenu.stories.tsx
  src/components/UserMenu/UserMenu.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

⚰️ Remove unsued type import
  src/components/UserMenu/UserMenu.tsx
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx,js,jsx}
  stylelint --fix: any of: *.css
  prettier --write: any of: *.{js,jsx,ts,tsx,json,html,css,md}
